@font-face{
    font-family: IRANMarker;
    src: url('../font/IRANMarker.ttf');
}
*{
    font-family:IRANMarker;
    font-size: 20px;
}
a.nav-link{
    margin: 0px 10px;
    color: #333 !important;
    font-size: 12px;
}
.dropdown-menu.show{
    border-bottom: 3px solid #33ffff;
    border-radius: 5px 5px 0px 0px;
}
div.show > a{
    font-size: 9px;
}
a.nav-link:hover{
    border-bottom: 1px solid red;
}
.search{
    margin-top: 50px;
}
input.input{
    width: 50%;
    display: inline;
    border-radius: 0px 5px 5px 0px;
    margin-right: 50px;
}
input.sub{
    margin-right: -5px;
    border-radius: 5px 0px 0px 5px;
    color: #33ffff;
}
.head-image img{
    border-radius: 10px;
    transition: 0.6 all;
    box-shadow:1px 1px 1px 1px rgb(150, 148, 148) ;
}
.head-image{
    margin-top: 30px;
}
.head-image img:hover{
    opacity: 0.4;
    transition: 0.6 all;
}
.content-text{
    margin-top:50px;
    font-size: 10px;
    padding: 20px 70px;
    margin-bottom: 70px;
    background-color: rgb(198,202,206);
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.content-text a{
    color: red;
}
a:hover{
    text-decoration: none;
}
* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right:0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .mobile-search{
      width: 92%;
      display: inline;
      border-radius: 0px 5px 5px 0px;
      margin-right: -75px;
  }
  input.mobile{
      width: 75%;
      display: inline;
      border-radius: 0px 5px 5px 0px;
      margin-top: 20px;
  }
  .footer{
      margin-top: 100px;
      background-color: rgb(99, 99,99);
      padding: 10px;
  }
  ul{
      list-style-type: none;
      font-size: 10px;
  }
  .footer p{
    color: #ffff;
    margin-right: 30px;
  }
  footer{
    text-align: center;
    margin: 20px 0px;
  }
  .boxes{
    box-shadow: 2px 2px 2px 2px rgb(150, 148, 148);
    padding: 8px;
    border-radius: 10px;
    transition: 0.6s;
    margin-top: 20px;
  }
  .boxes span{
    opacity: 0.7;
    font-size: 10px;
  }
  .boxes img{
    border-radius: 7px;
    transition: 0.4s;
  }
  .boxes p{
    margin: 5px 0px;
  }
  .boxes img:hover{
    opacity: 0.5;
    transition: 0.4s;
  }
  h4#title{
    padding-bottom: 25px;
    border-bottom: 2px solid #33ffff;
    display: inline-block;
  }
  .co-view svg{
    margin-right: 5px;
  }
  .content-text > span{/*///////////////////////////////////////*/
    font-size: 20px;
  }
.blog{
  border: 1px solid #333;
  margin-top: 70px;
  border-radius: 5px;
  padding: 10px;
}
.blog img{
  margin-top: 20px;
  border-radius: 10px;
}
.blog h1{
  font-size: 27px;
}
.writer{
  margin-top: 32px;
}
.tags{
  margin-top:30px;
  padding: 20px;
  padding-bottom: 20px;
}
.tags a{
  padding: 7px;
  background-color: cadetblue;
  color: #f2f2f2;
  margin-right: 10px;
  border-radius: 7px;
}
#tag{
  margin-top: 20px;
}
.writer-info{
  margin-top: 60px;
  box-shadow: 2px 2px 1px 2px rgb(150, 148, 148);
  padding: 30px;
  border-radius: 10px;
}
.writer-info a{
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.comment{
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px rgb(150, 148, 148);
  padding: 10px;
}
.user-comment{
  box-shadow: 2px 2px 2px 2px rgb(150, 148, 148);
  padding: 7px;
  border-radius:5px;
}
h1#welcome{
  margin: 30px 0px;
  text-align: center;
}